<section id="about" class="section">
  <div class="container">
    <h2 class="section__title">About agency</h2>
    <div class="about-content">
      <img class="about-image" src="./images/about-img.jpg" alt="hallway" />

      <div class="about-info">
        <p class="section__text">
          <span class="section__text--margin"
            >Donec auctor, arcu sit amet mollis vehicula, erat leo feugiat est,
            id porta ante dolor blandit ipsum. Sed maximus turpis accumsan,
            aliquam odio a, placerat risus. Maecenas a nibh ut lectus malesuada
            auctor non in purus. Fusce elementum nisl sit amet laoreet dapibus.
            Aliquam vitae ipsum quam.</span
          >
          <span>
            Morbi quis sem vel lorem rutrum lobortis. Aliquam erat volutpat.
            Nunc sollicitudin diam urna, quis accumsan erat venenatis at. Morbi
            vestibulum non ipsum quis lobortis.</span
          >
        </p>
        <h3 class="section__second-title">Why Choose Us</h3>
        <ul class="customers-list">
          <li class="customers-list__item">
            <p class="customers-list__text">Nullam a suscipit tellus.</p>
          </li>
          <li class="customers-list__item">
            <p class="customers-list__text">
              Suspendisse est dolor, pharetra sed porta quis, mollis vulputate
              nibh.
            </p>
          </li>
          <li class="customers-list__item">
            <p class="customers-list__text">
              Fusce at massa ultrices, interdum enim quis, aliquam leo.
            </p>
          </li>
          <li class="customers-list__item">
            <p class="customers-list__text">
              Vestibulum viverra nibh a sapien venenatis varius.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
