<section id="projects" class="section">
  <div class="container">
    <h2 class="section__title">What we doing</h2>
    <ul class="works-list">
      <li class="works-list__item">
        <img src="./images/activity_img1.jpg" alt="" />
        <div class="works-list__info">
          <h3 class="section__second-title">Office Design</h3>
          <p class="works-list__text">
            Aenean id nisi tortor. Nullam enim ante, blandit non sollicitudin
            at, consectetur vel lorem. Duis interdum orci et neque interdum
            luctus. Vestibulum aliquet tincidunt mollis. Quisque sagittis nunc
            sit amet justo mattis volutpat. Sed id nunc at massa eleifend
            vestibulum.
          </p>
        </div>
      </li>
      <li class="works-list__item">
        <img src="./images/activity_img2.jpg" alt="" />
        <div class="works-list__info">
          <h3 class="section__second-title">apartment design</h3>
          <p class="works-list__text">
            Cras lacus nulla, efficitur vitae ante ut, vulputate congue odio. Ut
            placerat dignissim ultricies. Fusce non sem nec orci dignissim
            vestibulum. Morbi risus dolor, fringilla vitae elementum nec,
            hendrerit a neque. Pellentesque eu ullamcorper leo, eget volutpat
            diam.
          </p>
        </div>
      </li>
      <li class="works-list__item">
        <img src="./images/activity_img3.jpg" alt="" />
        <div class="works-list__info">
          <h3 class="section__second-title">Commercial Design</h3>
          <p class="works-list__text">
            Aenean id nisi tortor. Nullam enim ante, blandit non sollicitudin
            at, consectetur vel lorem. Duis interdum orci et neque interdum
            luctus. Vestibulum aliquet tincidunt mollis. Quisque sagittis nunc
            sit amet justo mattis volutpat. Sed id nunc at massa eleifend
            vestibulum.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
