<header class="header">
  <div class="container">
    <nav class="main-nav">
      <a class="logo" href="#hero"
        ><img class="logo__img" src="./images/logo.png" alt="logo " /> Interior
        Design</a
      >
      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link current" href="#hero">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#about"> About Us </a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#projects"> Projects </a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#contacts"> Contacts </a>
        </li>
      </ul>
      <button class="nav-button">
        Extra
        <svg class="nav-button__icon" width="15" height="15">
          <use href="./images/svg/sprite.svg#icon-expand_more" />
        </svg>
      </button>
      <ul class="details-list is-hidden">
        <li class="details-list__item">
          <a class="details-list__link" href="#">404 Error</a>
        </li>
        <li class="details-list__item">
          <a class="details-list__link" href="#">Coming Soon</a>
        </li>
        <li class="details-list__item">
          <a class="details-list__link" href="#">Thank You</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
