<footer class="footer">
  <div class="container footer__container">
    <p class="copyright">&#169; Interior Design 2020. All Rights Reserved.</p>
    <ul id="contacts" class="contacts">
      <li class="contacts__item">
        <a
          class="contacts__link"
          target="_blank"
          rel="noreferer noopener nofollow"
          href="https://www.facebook.com/profile.php?id=100025547622587"
        >
          <svg class="contacts__icon" width="16" height="16">
            <use href="./images/svg/sprite.svg#icon-facebook" />
          </svg>
        </a>
      </li>
      <li class="contacts__item">
        <a
          class="contacts__link"
          target="_blank"
          rel="noreferer noopener nofollow"
          href="https://twitter.com/BrugosEduard"
        >
          <svg class="contacts__icon" width="16" height="16">
            <use href="./images/svg/sprite.svg#icon-twitter" />
          </svg>
        </a>
      </li>
      <li class="contacts__item">
        <a
          class="contacts__link"
          target="_blank"
          rel="noreferer noopener nofollow"
          href="https://www.instagram.com/brugiiiii/"
        >
          <svg class="contacts__icon" width="16" height="16">
            <use href="./images/svg/sprite.svg#icon-instagram" />
          </svg>
        </a>
      </li>
      <li class="contacts__item">
        <a
          class="contacts__link"
          target="_blank"
          rel="noreferer noopener nofollow"
          href="https://www.linkedin.com/in/eduardbruhosh/"
        >
          <svg class="contacts__icon" width="16" height="16">
            <use href="./images/svg/sprite.svg#icon-linkedin" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
