.about-content {
  display: flex;
  gap: 30px;
}

.about-image {
  width: 569px;
  height: 380px;
}

.section__text {
  margin-bottom: 35px;

  & span {
    display: block;
  }
}

.section__text--margin {
  margin-bottom: 30px;
}

.customers-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.customers-list__text {
  margin-bottom: 0;
}
