.footer {
  height: 50px;
  background-color: $main-color;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.copyright {
  margin-bottom: 0;
  color: $bg-color;
}

.contacts {
  display: flex;
  align-items: center;

  gap: 24px;
}

.contacts__link {
  padding: 15px 0;

  fill: $white-color;

  &:hover {
    fill: $accent-color;
  }
}

.contacts__icon {
  fill: inherit;
}
